.about{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: rgb(43, 41, 41);;
}

.image{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image img{
    width: 80%;
    height: 80%;
    border-radius: 50%;
}


.content{
    width: 60%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding-right: 10%;
}
.content h1{
    font-size: 60px;
    color: white;
    margin: 10px;
}

.content p{
    font-size: 20px;
    color: white;
    margin: 10px;
}

.content .aboutLinks{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.content button{
    width: 200px;
    height: 100px;
    background-color: inherit;
    font-size: 20px;
    color: white;
    border: none;
    margin: 10px;
    display: flex;
    justify-content: left;
}

.content .icon{
    font-size: 70px;
    color: white;
}

.content a{
    text-decoration: none;
}
