.contact{
    height: 80vh;
    width: 100%;
    display: flex;
    align-items: center;
    background: rgb(43, 41, 41);
    padding-top: 4rem;
}

.contact .form{
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact .form h1{
    color: white;
    font-size: 50px;
    font-weight: 100;
    margin-left: 25px;
}

form{
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    padding: 30px;
    gap: 30px;
}

form button{
    width: 300px;
    border: none;
    background: rgb(43, 41, 41);
}

form .projectLink{
    margin: 0;
}

.inputBox{
    position: relative;
    height: 40px;
    width: 90%;
}

.inputBox input{
    height: 100%;
    width: 100%;
    padding: 10px;
    border:  1px solid rgba(255, 255, 255, 0.25);
    background: rgb(43, 41, 41);
    border-radius: 5px;
    color: #fff;
    font-size: 1em;
}

.inputBox span{
    position: absolute;
    left: 0;
    padding: 10px;
    pointer-events: none;
    font-size: 1em;
    color: rgba(255, 255, 255, 0.25);
    text-transform: uppercase;
    transition: 0.5s;
}

.inputBox input:valid{
    border: 1px solid #00dfc4;
}

.inputBox input[type='text']:focus{
    border: 1px solid #00dfc4;
}

.inputBox input:valid ~ span,
.inputBox input:focus ~ span{
    color: #00dfc4;
    transform: translateX(10px) translateY(-7px);
    font-size: 0.75em;
    padding: 0 10px;
    background: rgb(43, 41, 41);
    border-left: 1px solid #00dfc4;
    border-right: 1px solid #00dfc4;
}

@media screen and (max-width: 620px){
    .contact .form h1{
        font-size: 2.3rem;
    }

    .inputBox{ 
        width: 98%;
    }

    form button{
        width: 200px; 
        border: none;
        background: rgb(43, 41, 41);
    }
}