.navbar{
    height: 80px;
    width: 100%;
    z-index: 1;
    position: fixed;
    display: flex;
    flex-direction: row;
    background-color: rgba(0,0,0,.9);
}

.navLogo{
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.navLinks{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navContact{
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.link{
    text-decoration: none;
    color: white;
    font-size: 18px;
    margin: 15px;
}

.navToggle{
    display: none;
}

@media screen and (max-width: 860px){
    .navToggle{
        display: block;
    }

    .navLinks{
        position: fixed;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        z-index: 999;
        top: -100%;
        background-color: rgba(0,0,0,0.9);
        text-align: center;
        transition: .3s;;
    }

    .navLinks.active{
        top: 80px;
    }

    .link{
        margin: 1.5rem 0;
    }
}