.navbarDiv{
    position: fixed;
    height: 90px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    overflow: hidden;
    background-color: rgba(0,0,0,.9);
}

.navbar{
    display: flex;
    height: 100%;
    margin: auto;
    padding: 0 1rem;
    justify-content: space-between;
    align-items: center;
}

.navLogo{
    display: flex;
    width: 100%;
    margin-left: 1rem;
    color: white;
}

.navLinks{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: right;
}

.link{
    position: relative;
    text-decoration: none;
    cursor: pointer;
    color: #a0a0a0;
    font-size: 18px;
    margin: 15px;
}

.link:after{
    content: "";
    position: absolute;
    background-color: aqua;
    height: 2px;
    width: 0;
    left: 0;
    bottom: -8px;
    transition: 0.3s;
}

.link:hover{
    color: white;
}

.link:hover:after{
    width: 100%;
}

.navToggle{
    display: none;
}

@media screen and (max-width: 1050px){
    .navbarDiv{
        max-width: 100%;
    }

    .navbar{
        max-width: 100%;
    }

    .navToggle{
        display: block;
    }

    .navLinks{
        position: fixed;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        z-index: 999;
        top: -100%;
        background-color: rgba(0,0,0,0.9);
        text-align: center;
        transition: .3s;;
    }

    .navLinks.active{
        top: 80px;
        left: 0;
    }

    .link{
        margin: 1.5rem 0;
    }
}